# Ignorar diretórios gerados
bin/
obj/

# Ignorar arquivos gerados automaticamente
*.cache
*.log
*.editorconfig

# Ignorar configurações locais
.vs/
*.user
mysql_data/mysql.ibd
mysql_data/mysql.ibd
mysql_data/mysql.sock
mysql_data/mysql.ibd
